@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding:0;
    margin: 0;
} 

body{
    font-family: sans-serif;
    
}
  

/* Navigation Start*/

.navBar {
    position: fixed;
    padding: 5px;
    background-color: #272727;
    width: 100%;
    z-index: 1;

}

.navBar nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

.navBar nav ul {
    display: flex;
   }

.navBar nav li {
    list-style: none;
    margin: 0 15px;
   }
   
.navBar nav li a {
    text-decoration: none;
    font-size: 15px;
    color: #657065;
   }

.navBar nav li a:hover {
    padding: 15px;
    background: #FFFFFF;
    color:black;
   }

/* Navigation End*/


/*Main Start*/

.mainBody {

padding-top: 130px;

}

/*Main End*/


/* Hero Start */

.heroSection {
    text-align: center;
    background-image: url("Images/heroImage.png");
    height: 450px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroSection h1 {
    font-weight: 400;
    font-size: 48px;
    padding-top: 110px;
    margin-bottom: 30px;
    
}

.heroSection h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: 28px;
    margin-bottom:65px;
   
}

.heroSection button {
    background-color: #019C00;
    border: none;
    border-radius: 6px;
    padding: 25px;
    
}

.heroSection a {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;  
}

.heroSection button a:hover {
   color: black;
   }

/* Hero End */


/* Services Start */

.serviceSection {
    padding-top: 80px;
    position:relative;
    margin: 0px 5px 0 5px;
    text-align: center;
}

.serviceSection h1 {
    font-size: 48px;
    color: #019C00;
}

.serviceSection h5 {
    font-size: 14px;
    font-style:italic;
    font-weight: lighter;
}

.serviceSection h3 {
    font-size: 24px;
    text-align: left;
    margin: 25px 65px;
    color: #019C00;
}

.serviceSection p {
    font-size: 15px;
    text-align: left;
    margin: 25px 65px; 
}

.serviceSection img {
    padding-top: 15px;
    width: 80%; 
}

.serviceSection .row {
    margin-top:5px;
    display: flex;
    justify-content: space-evenly;
}

.serviceSection .serviceColumn {
    border: 10px solid #272727;
    margin: 0px 40px;
    position: relative;
}

/* Services End */


/* Pricing Start */

.pricingSection {
    padding-top: 80px;
    margin-top: 10px;
    text-align: center;
}

.pricingSection .row{
    margin-top:75px;
    display: flex;
    justify-content: space-evenly;
}

.pricingSection h1 {
    font-size: 48px;
    color: #019C00;
}

.pricingSection h5 {
    font-size: 14px;
    font-style:italic;
    font-weight: lighter;   
}

.pricingSection h3 {
    font-size: 24px;
    color: #019C00; 
    text-align: left; 
    margin: 25px 0 25px 20px;
}

.pricingSection li {
    font-size: 24px;
    text-align: left;
    margin: 25px 0 25px 40px;    
}

.pricingSection img {
    width: 80%;   
}

.pricingSection .pricingColumn {
    margin: 10px 0;
    position: relative;
}

/* Pricing End */


/* Quote start */

.quoteSection {
    margin: 50px 90px ;
    text-align: center;
    padding-top: 90px;
    
}

.quoteSection h1 {
    font-size: 48px;
    color: #019C00;
}

.quoteSection .row{
    margin-top:5px;
    display: flex;
    justify-content: space-around;
    border: 10px outset;
    border-radius: 48px;
    background-color:#94c994;
    padding: 40px;
}

.quoteSection .quoteColumn {
    margin: 40px 0 0px 35px;
    position: relative;
}

input {
    width: 409.64px;
    height: 58.13px;
    top: 291.1px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
}

select {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 20px;
}

textarea {
    width: 259.64px;
    height: 100px;
    top: 291.1px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 0 0 20px;
}

input[type=submit], input[type=reset] {
    width: 136.65px;
    height: 58.94px;
    background-color: #019C00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
  }


/* Quote End */


/* About us start */

.aboutSection {
    padding-top: 100px;
    display: block;
    text-align: center;
}

.aboutSection h1 {
    font-size: 48px;
    color: #019C00;
}

.aboutSection h6 {
    font-size: 24px;
    color: #019C00;
    margin-top:75px;
}
.aboutSection h3 {
    font-size: 24px;
    color: #019C00;
}

.aboutSection h5 {
    font-size: 15px;
    font-style:italic;
    font-weight: lighter;   
}

.aboutSection p {
    font-size: 15px;
    margin: 0px 90px;
}


/* About us End */


/* Contact us start */

.contactSection {
    padding-top: 80px;
    margin-top: 10px;
    text-align: center;
}

.contactSection h1 {
    font-size: 48px;
    color: #019C00;
}

.contactSection .row {
    margin-top:5px;
    display: flex;
    justify-content: space-evenly;
}

.contactSection .contactColumn {
    text-align: left;
    margin: 45px 0 25px 0;
    position: relative;
    display: flex;
}

.contactSection .contactColumn img {
    width: 5%;
}

.contactSection .contactColumn p {
    font-size: 15px;
}

.contactSection .addressColumn {
    margin: 5px 0 50px 0;
    position: relative;
}

.contactSection .addressColumn p {
    padding-top: 10px;
    font-size: 16px;
}

/* Contact us End */


/* Footer start */

.footer {
    width: 100%;
    height: 160px;
    background-color: #272727;
    color: #FFFFFF;
}

.footer ul {
    display: flex;
   }

.footer li {
    list-style: none;
    margin: 0 15px;
   }
   
.footer li a {
    text-decoration: none;
    font-size: 15px;
    color: #657065;
   }

.footer li a:hover {
    padding: 5px;
    background: #FFFFFF;
    color:black;
   }

.footer p {
    text-align: center;
    font-size: 15px;
}  

.footer .row {
    padding-top:55px;
    display: flex;
    justify-content: space-between;
}

/* Footer End */



/* Media Query start */

/* Navigation */
@media (max-width: 600px) {
.navBar {
    position: fixed;
    background-color: #272727;

}

.navBar nav {
    display: block;
   }

 .navBar nav li a:hover {
    padding: 5px;
   }

}

/* Body */
@media (max-width: 1000px) {
    .heroSection h1 {
        padding-top: 10px;  
    }

    .serviceSection {
        padding-top: 100px;
       
    }

    .serviceSection img {
        padding-top: 10px;
        width: 70%;
        
    }

    .serviceSection .row {
        display:block;
    }

    .serviceSection .serviceColumn {
        border: 3px outset;
        margin: 60px 50px;
    }
    
    .pricingSection {
        padding-top: 100px;
        
    }
    
    .pricingSection .row{
        margin-top:15px;
        display: block;
        
    }

    .pricingSection img{
        display: none;
    }
    
    .quoteSection {
        margin: 0px 25px ; 
    }

    .quoteSection .row{
        display: block;  
    }

    .quoteSection .quoteColumn {
        margin-right:35px ;
    }
    
    input {
        width: 250px;   
    }
    
    textarea {
        width: 250px;  
    }
    
    .workSection {
        display:none;
    }

    .contactSection {
        padding-top: 100px;
    }

    .contactSection .row {
        display: block;   
    }

    .contactSection .addressColumn {
        padding-left: 40px;
    }

    .contactSection .addressColumn p{
        padding-right: 30px;
    }
    
}


